- const business = require("/app/business-card.json");

mixin labeled_input(field, colour)
  div.shadow.bg-gray-50.flex.rounded-sm(class="mt-[15px] lg:even:mb-[20px]")
    label(class="min-w-[53px] lg:w-[80px] lg:text-14px py-[0.5em] px-[0.825em]" for=field.toLowerCase().replace(" ", "-")).rounded-sm.uppercase.round-r-sm.bg-gray-70= field
    input.width-full.bg-gray-50.grow.rounded-r-sm(class="lg:h-[30px] h-[20px]" id=field.toLowerCase().replace(" ", "-"), name=field.toLowerCase() )
mixin video-wrapper(title, description)
  div.video-wrapper(class="even:bg-red")
    block
    if title
      p(class="lg:text-40px").font-sanspro.text-25px.font-bold.leading-fit= title
    if description
      p(class="lg:text-24px lg:text-24px").font-assistant.text-16px.font-medium.leading-normal= description

mixin webpage(pagename)
  doctype html
  html(lang="en-US")
    include /app/view/fragments/_head
    body(class= pagename).flex.flex-col.min-h-screen
      include /app/view/fragments/_header
      block
      include /app/view/fragments/_footer

    if !isProduction
      script(src=require("/app/js/hmr.js"))

mixin hidden-quotation()
  div.group(class="min-h-[100%]")
    div(class="group-has-[#show-request-quote-form:checked]:hidden h-[100%]")
      block
    div
      include fragments/_quotation-form


mixin request-quotation()
  div(class="text-center self-center")
    input#show-request-quote-form(type="checkbox").hidden
    if !block
      label(for="show-request-quote-form" class="lg:text-24px hover:cursor-pointer hover:shadow-sm max-w-[230px] mt-[60px]  p-[15px_5px_15px_5px]").rounded.inline-block.text-white.bg-red.text-18px.font-bold.leading-normal.shadow-bg.uppercase Request a quotation
    else
      block
