mixin webpage(pagename)
  doctype html
  html(lang="en-US")
    include /app/view/fragments/_head
    body(class= pagename)
      include /app/view/fragments/_header

      div.content
        block

    if !isProduction
      script(src=require("/app/js/hmr.js"))
