- const business = require("/app/business-card.json")

mixin menu-entry(title, link)
  a(href=`${link}`)= title

header
  div.wrapper
    span.business-presentation
      img.logo(src=require("logo"))
      span.heading-text= business.name
    nav.navigation-menu.menu-text#navigation-menu
      each menuitem of ([['Home', "/"],['About us', '/about-us.html'], ['Gallery', '/gallery.html'], ['Contact', '/contact.html'], ['Quote', '/quote.html'] ])
        +menu-entry(menuitem[0], menuitem[1])
      a.toggle-menu-button(onclick="toggleMenu()")
        img(src=require("assets/img/bars.svg"))
  hr
