header
  div.wrapper
    span.business-presentation
      img.logo(src=require("assets/img/logo.svg"))
      span.heading-text High Tech Surveillance
    nav.navigation-menu.menu-text#navigation-menu
        a(href="/") Home
        a(href="about-us.html") About us
        a Gallery
        a Quote
        a Contact us
        a.toggle-menu-button(onclick="toggleMenu()")
          img(src=require("assets/img/bars.svg"))
  hr
