head
  title High Tech Surveillance
  link(href=require('@assets/styles.sass') rel='stylesheet') 
  link(href=require('@assets/img/logo.svg') rel='icon')
  link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet")
  link(href="https://fonts.googleapis.com/css?family=Assistant" rel="stylesheet")
  script(src=require('@assets/scripts.js'))
