include definitions

+webpage
  h1 About 
    em.hilight-red us
  p We are dedicated to our clients and their benefit from our strong mission and clear vision.
  hr
  p If you are looking for secure your bussines, call us today for a comprehensive solution package based on your budget and requirements
  h2 Contact us!
  include _contact-mediums-menu
