include definitions

+webpage('page-about-us')
  section.first-section.columns.font-assistant.font-18px
    div.column
      h1.source-sans.title About #[span.hilight-red us]
      p We are dedicated to our clients and their benefit from our strong mission and clear vision.
      hr
      p If you are looking for secure your business, call us today for a comprehensive solution package based on your budget and requirements
      div.centered
        h2.font-assistant.uppercase.margin-0 Contact us!
        include _contact-mediums-menu
    div.column
      img.logo(src=require("@assets/img/logo.svg"))
  section.second-section
    div.wrapper.columns
      div.column.no-height
        img(src=require("@assets/img/by-arno-senoner-from-unsplash.jpg"))
      div.column.align-right
        h3.font-36px.color-white.barlow-condensed Consultation, installation and service
        h4.source-sans.font-48px.color-blue.uppercase.margin-0 Ask us about
        ul.font-assistant.font-18px.color-white.margin-0.unbullet
          li Security assessments
          li Analog & IP cameras
          li Intercom and telephony entry systems
          li Electrified gate operators
          li Automated pedestrian door operators
          li Intrusion systems
  section.third-section
    div.overlay
      img.small-stamp(src=require("@assets/img/by-nathy-dog-from-unsplash.jpg"))
      div.footer
        img.width-100px(src=require("@assets/img/logo.svg"))
        h5.font-barlow.font-36px.capitalize.margin-0 Preventing Harm & Loss
    p.font-assistant.font-18px We offer full engineering and design services to create a custom business security products and systems. Our highly experiences security expeters are here to help you design and build the solution you need to protect you and your business.
    div.page-footer
