mixin webpage(pagename)
  doctype html
  html
    include _head
    body(class= pagename)
      include _header

      div.content
        block

    if !isProduction
      script(src=require('./hmr.js'))
