include definitions
+webpage('gallery')
  section#gallery
    div.gallery-header Remote #[span surveillance]
    div.gallery-bullet For any situation
    div#photo-reel
      img#reel-content
    div.blue-buttom Get a quote


