include definitions
+webpage('gallery')
  section#gallery.font-source-sans-pro
    include _contact-mediums-menu
    span.left-side
      div.font-48px.uppercase #[strong Remote #[span.hilight-red surveillance]]
      div.font-26px.uppercase #[strong For any situation]
      div#photo-reel
        img#reel-content
    span.right-side
      div.blue-button.uppercase Get a quote


