include definitions
+webpage('gallery')
  section#gallery.font-source-sans-pro
    include _contact-mediums-menu
    div.gallery-grid
      div.first-column.font-48px.uppercase #[strong Remote #[span.hilight-red surveillance]]
      div.first-column.font-26px.uppercase #[strong For any situation]
      showcase-carousel.first-column
        iframe(src="https://www.youtube.com/embed/6aYUIRDQXeQ?si=Sjr0p6wHqm4XUgi5", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share", allowfullscreen)
        img(src=require("/app/content/gallery/429105298_718666270389474_8739134752344644796_n.jpg"))
      div.centered-content
        div.blue-button.uppercase Get a quote

script(src=require("showcase-carousel"))
