include definitions
+webpage('gallery')
  section#gallery.font-source-sans-pro
    div.font-48px Remote #[span.hilight-red surveillance]
    div.font-26px.uppercase For any situation
    div#photo-reel
      img#reel-content
    div.blue-button Get a quote


