include definitions
+webpage('index')
  div.editorial-cover
    img(src=require("assets/img/by-peter-pivak-from-unsplash.jpg"))
    div.editorial-bullet
      p.mx-47.font-sanspro.uppercase.drop-shadow-md.text-85 Your #[span.hilight-red eyes] #[br] and #[span.hilight-blue ears]
      p.font-sanspro.uppercase.tracking-wide.font-bold.text-26 while you are away
      hr
      p.assistant-35 Let us #[strong build] and #[strong maintain]
      p.assistant-35.hilight-darkred #[strong your security]
      a.uppercase.blue-button Get a quote
