include utils/definitions
+webpage('index')
  div.editorial-cover
    img(src=require("assets/img/by-peter-pivak-from-unsplash.jpg"))
    div.editorial-bullet
      p.font-sanspro.uppercase.drop-shadow-md.text-85px Your #[span.text-red.light eyes] #[br] and #[span.text-blue ears]
      p.font-sanspro.uppercase.font-bold.text-26px while you are away
      hr
      p.leading-fit.font-assistant.text-35px Let us #[strong build] and #[strong maintain] #[br] #[span.text-red-dark.font-bold Your security]
      a.font-assistant.uppercase.color-white.text-24px.bg-blue.blue-button Get a quote
