include definitions
+webpage('index')
  div.editorial-cover
    img(src=require("assets/img/by-peter-pivak-from-unsplash.jpg"))
    div.editorial-bullet
      p.font-sanspro.uppercase.drop-shadow-md.text-85px Your #[span.hilight-red eyes] #[br] and #[span.hilight-blue ears]
      p.font-sanspro.uppercase.tracking-wide.font-bold.text-26px while you are away
      hr
      p.font-assistant.text-35px Let us #[strong build] and #[strong maintain]
      p.firstcase.font-assistant.text-35px.hilight-darkred #[strong your security]
      a.uppercase.blue-button Get a quote
