include definitions
+webpage('index')
  div.editorial-cover
    img(src=require("assets/img/by-peter-pivak-from-unsplash.jpg"))
    div.editorial-bullet
      p.font-sanspro.drop-shadow-md(class="text-[85px]") Your #[span.hilight-red eyes] #[br] and #[span.hilight-blue ears]
      p.font-sanspro.tracking-wide.font-bold(class="text-[26px]") while you are away
      hr
      p.assistant-35 Let us #[strong build] and #[strong maintain]
      p.assistant-35.hilight-darkred #[strong your security]
      a.blue-button Get a quote
