div.editorial-bullet 
  img(src=require("assets/img/unsplash-by-peter-pivak.jpg"))
  p Your 
    em.hilight-red eyes 
    br
  p and 
    em.hilight-blue ears
  p while you are away
hr
div.call-to-action
  p Let us 
    strong build 
    | and 
    strong maintain 
  p.hilight-darkred your security
  button.blue-button Get a quote
