div.editorial-bullet
  h1 Your 
    em.hilight-red eyes 
    |  and 
    em.hilight-blue ears
  h3 while you are away
hr
div.call-to-action
  p Let us 
    strong build 
    | and 
    strong maintain 
      em.hilight-darkred your security
  button.blue-button Get a quote
