div.editorial-cover
  img(src=require("assets/img/unsplash-by-peter-pivak.jpg"))
  div.editorial-bullet
    p.first-line Your 
      span.hilight-red eyes 
      br 
      | and 
      span.hilight-blue ears
    p.second-line 
      strong while you are away
    hr
    p.font-assistant-35.title-case Let us 
      strong build 
      | and 
      strong maintain 
    p.font-assistant-35.hilight-darkred.title-case 
      strong your security
    a.blue-button Get a quote
