- const businessCard = require("/app/business-card.json")

mixin contact-link(medium, address)
  a(href=address)
    img(src=require('assets/img/contact-mediums/icon-' + medium + '.svg')).inline

nav.contact-mediums
  each address, channel in businessCard['contact-mediums']
    +contact-link(channel, address)
