footer
  div(class="h-[40px] lg:text-14px").w-full.bg-blue-pale.text-center.font-assistant.text-10px.text-white
    ul.flex.justify-center.h-full.items-center.uppercase
      li #[a(href="/terms-of-use.html") Terms of use]
      li &nbsp; | &nbsp;
      li #[a(href="/privacy-policy.html") Privacy policy]
