head
  title High Tech Surveillance
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  meta(name="title" content="High Tech Surveillance")
  meta(name="description" content="Improving remote surveillance with leading edge security technology.")
  link(href="https://fonts.googleapis.com/" rel="preconnect")
  //-link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet" defer)
  link(href=require('@theme') rel='stylesheet' defer) 
  link(href=require('@assets/img/logo.svg') rel='icon')
  script(src=require('@assets/scripts.js') async)
