- const business = require("/app/business-card.json")

mixin menu-entry(title, link)
  a.font-assistant.text-14px.font-medium.text-black.no-underline.uppercase(href=`${link}` class="xl:text-18px mx-[25px]")= title

header
  div.container.flex.flex-row.items-center.justify-between(class="px-[20px]")
    span.business-presentation.flex.flex-row.items-center
      img.logo(src=require("logo") class="xl:w-60px xl:h-[57.16px] m-[10px]").w-40px
      h4.font-sanspro.font-bold.text-16px.uppercase(class="xl:text-24px mx-[14px] mt-[2px]")= business.name
    menu(class="group mt-[2px]")
      menuitem(class="xl:hidden")
        input#nav-checkbox(type="checkbox").hidden
        label(for="nav-checkbox")
          img(src=require("assets/img/bars.svg") class="w-[18px] h-[14px]")
      nav(class="hidden mx-[30px] xl:block bg-white/80 group-has-[input:checked]:flex group-has-[input:checked]:flex-col xl:relative xl:right-none" ).absolute.right-0.z-10
        each menuitem of ([['Home', "/"],['About us', '/about-us.html'], ['Gallery', '/gallery.html'], ['Quote', '/quote.html'], ['Contact us', '/contact.html'] ])
          menuitem
            +menu-entry(menuitem[0], menuitem[1])
  hr(class="mt-[3px]")
