@use "globals" as *
// Mos common web fonts
// Arial, Verdana, Tahoma, Times New Roman, Georgia, Garamond
html
  font-family: $source-sans-font,  $font-assistant, 'sans'
  font-size:12px

.source-sans
  font: $source-sans-font

.title
  margin: 0
  text-transform: uppercase
  font-weight: 900
  font-size: 5.83rem

.font-assistant
  font-family: $font-assistant

.font-18px
  font-size: 1.5rem // 18px for rem = 12px

.font-36px
  font-size: 3rem

.title-case
  text-transform: lowercase
  &:first-letter
    text-transform: uppercase
.font-assistant-35
  font-family: $font-assistant
  font-size: 2.916rem // 35 pixels aproximately for "rem" equals 12 pixels

.menu-text
  font-family: $font-assistant
  font-size: 1.5rem // 18 pixels
  text-transform: uppercase
  a
    text-decoration: none
    color: black

.heading-text
  font-family: $source-sans-font
  font-size: 2rem // 24 pixels
  font-weight: bold
  text-transform: uppercase

