@use "globals" as *

#gallery
  margin: 1rem auto
  padding: 0 3em
  max-width: 1200px
  nav.contact-mediums
    text-align: right
  .left-side, .right-side
    display: inline-block
    vertical-align: middle
    text-align: center
  .left-side
    width: 65%
  .right-side
    width: 35%

showcase-carousel
  height: 300px
  fill: $hilight-red
