$red-colour: #a50d0d
$pale-blue: #2a3044
$hilight-red: #c11717
$hilight-blue: #1153a7
$background-blue: #1153a7
$source-sans-font:  'Source Sans Pro'
$font-assistant: 'Assistant'

html, body
  width: 100%
