$sourcesanspro:  'Source Sans Pro'
$assistant: 'Assistant'
$barlow: "Barlow Condensed"

$darkred: #a50d0d
$lightred: #c11717

$darkblue: #051965
$blue: #1153a7
$lightblue: #2a3044

$darkgray: #727376

$darkbone: #d1d5de
$bone: #d4d4d4

// Reset
html, body
  width: 100%

h1, h2, h3, h4, h5, h6, p
  margin: 0
