$colour-bone: #d4d4d4
$colour-gray: #727376

form
  font-size: 14px
  font-family: "Assistant"
  .input-wrapper
    margin-bottom: 17px
    border-radius: 5px
    display: flex
    background: $colour-bone
    box-shadow: 7px 7px 4px 0px rgba(0, 0, 0, 0.4)
    label
      color: white
      text-transform: uppercase
      padding: 4px 11px 4px 11px
      min-width: 4em
      border-radius: 5px
      background: $colour-gray
    input
      flex-grow: 2
      background: none
      border: none
  textarea
    width: 100%
