@use "globals" as *
.page-about-us
  .content
    .first-section
      border-left: 40px solid $hilight-red
      margin-left: 4em
      padding: 4em
      display: flex
      svg.logo
        width:  100%
        max-width: 350px
        margin: 1rem
  .second-section
    .wrapper
      display: flex
      max-width: 900px
      margin: 0 auto
    background-color: $pale-blue
  .third-section
    padding: 0 2rem
    margin: 6rem auto
    max-width: 900px
    .overlay
      position: relative
      img
        width: 100%
      .footer
        margin-bottom: 4rem
        display: flex
        width: 100%
        justify-content: space-between
        align-items: flex-end
        position: absolute
        bottom: 0
        color: white
        h5
          margin: 0
          line-height: 1em
          width: auto
          text-align: right
        svg
          fill: white
          .cls-1
            stroke: white
        > *
          &:first-child
            margin-left: 4rem
          &:last-child
            margin-right: 4rem
    p
      max-width: 66%
      text-align: justify
      float: right
  .column
    flex: 0 1 50%
    padding: 0em 3rem

.page-footer
  height: 40px
  width: 100%
  background-color: $pale-blue
  clear: both

.no-height
  line-height: 0
