include utils/definitions
script(src=require("/app/js/form-processor.js"))
+webpage('quote')
  section.mx-auto.container(class="py-[40px] xl:w-auto")
    +hidden-quotation()
      include fragments/_quotation-invite
