include utils/definitions

+webpage('terms-of-use')
  div(class="lg:ml-[69px] border-0 lg:border-l-[40px] lg:border-red lg:border-solid lg:p-[50px_200px_140px_100px] p-[30px_50px_55px_45px]").font-assistant.font-18px.flex.flex-row.justify-between.document-wrapper
    section(class="lg:max-w-[960px]")
      link(href=require('@markdown') rel='stylesheet' defer) 
      include:markdown-it(html=true) /app/content/legal/terms-of-use.md
