html
  font-family: 'Source Sans Pro',  'Assistant'
  font-size:12px

.heading-text
  font-family: 'Source Sans Pro'
  font-size: 2rem
  font-weight: bold

.menu-text
  font-family: 'Assistant'
  font-size: 1.5rem

header 
  .wrapper
    display: flex
    justify-content: space-around
    align-items: flex-start
    .business-presentation
      display:  flex
      align-items: center
      .heading-text
        margin-top: 0.5em
      .logo
        margin:1rem
        width:5rem
    .navigation-menu
      display: inline-flex
      margin-top: 2em
      margin-bottom: 1em
      list-style-type: none
      .toggle-menu-button
        cursor: pointer
      > *
        margin-left: 0.7083em
        margin-right: 0.7083em
  hr
    height: 10px
    border: none
    background-color: $red-colour

// Mobile device specific
@media screen and (max-device-width: 720px), (max-width: 720px)
  header
    .navigation-menu
      position: relative
      *
        &:not(:first-child)
          display: none
      &.toggle-active
        display: flex
        flex-direction: column
        .toggle-menu-button
          position: absolute
          right: 0
          top: 0
        > *
          display: inline-block
      .toggle-menu-button
        display: inline-block
        cursor: pointer
        > *
          height: 1em

// Desktop specific style
@media screen and (min-device-width: 720px)
  header
    .navigation-menu
      *
        display: inline-block
      .toggle-menu-button
        display: none
