!!! 5
%html
  %head
    %title High Tech Surveillance
  %body
    %h1 High Tech Surveillance
    %nav
      %ul
        %li Home
        %li About us
        %li Gallery
        %li Quote
        %li Contact us
    %hr
