header
  div.business-presentation
    img.logo(src=require("assets/img/logo.svg"))
    h1 High Tech Surveillance
  nav.navigation-menu
      i Home
      a(href="about-us.html") About us
      a Gallery
      i Quote
      i Contact us
      button.toggle-menu(onclick="toggleMenu();")
      img(src=require("assets/img/bars.svg"))
hr
