header
  div.business-presentation
    img.logo(src=require("assets/img/logo.svg"))
    h1.heading-fonttype High Tech Surveillance
  nav.navigation-menu.menu-fonttype
      i Home
      a(href="about-us.html") About us
      a Gallery
      i Quote
      i Contact us
      img.toggle-menu-button(src=require("assets/img/bars.svg"))
hr
